*  {
    /* background-color: red; */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'roboto', Arial, Helvetica, sans-serif;
}

.container {
    /* background-color: red; */
    width: 750px;
    height: 500px;
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}

.title {
    font-size: 20px;
}

.subtitle {
    font-size: 14px;
    padding-top: 18px;
    color: gray;
}

.offer-container {
    /* background-color: cornflowerblue; */
    width: 680px;
    height: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.sub-container {
    width: 300px;
    height: 150px;
    text-align: left;
    display: flex;
    /* flex-direction: column; */
    align-items: flex-start;
    justify-content: space-between;
}

.sub-container h2 {
    font-size: 20px;
}

.sub-container p {
    font-weight: 300;
    color: gray;
    font-size: 15px;
}

.sub-sub-container {
    padding-left: 18px;
    width: 250px;
    height: 115px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.search-logo {
    width: 48px;
    height: 48px;
    background-color: #6875f5;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width:500px) {
    .offer-container {
        width: 350px;
        height: 1500px;
        margin-top: 25px;
        flex-wrap: wrap;
    }
    .sub-container {
        flex-direction: column;
        height: 170px;
        margin-top: 15px;
    }
    .sub-container p, .sub-container h2 {
        margin-top: 10px;
    }
    .sub-container figure {
        margin-left: 12px;
    }
}